.bg-navbar{
    background-color: #5EE8C1;
}

/* .card-border{
     border: 1px solid #22333b; 
} */

.a-profile{
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.prof-dropdown{

         background-color: #eee;
         min-width: 7rem;
 
}