<!-- Modal -->
<div class="modal fade" id="modal{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul class="my-2 list-group">
                {% if data.comments.count() > 0 %}
                    {% for comment in data.comments %}
                      <li class="list-group-item">
                        <div class="text-italic">
                            {{ comment.comment }}
                        </div><br>
                            <small class="text-muted float-right"> 
                                - {{comment.user.username}}
                            </small>
                        </li>
                    {% endfor %}
                {% else %}
                   <li class="list-group-item">
                       No Comments
                   </li>
                {%endif%}
            </ul>
        </div>
  
      </div>
    </div>
  </div>