<nav class="navbar navbar-expand-lg navbar-light bg-navbar">
    <a class="navbar-brand" href="{{ url_for('main.home')}}"><h3>Pitch APP</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('main.home')}}">Home <span class="sr-only">(current)</span></a>
        </li>
       
      </ul>
      <ul class="nav navbar-nav navbar-right mr-5">
        {% if current_user.is_authenticated %}
          <!-- exported -->
          <li class="dropdown open">
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="true" class="dropdown-toggle" >
            <div >
                <div style="width: 50px;" class="mr-1 float-left">
                    <img src="{{url_for('static',filename=current_user.profile_pic_path) if current_user.profile_pic_path else url_for('static',filename='photos/person.png')}}" alt="profile image" width="50" height="50" class="rounded-circle">
                </div>
                 <div style="float: left; margin-top: 15px; color:black;">
                  {{current_user.username | capitalize}}
                                    <span class="caret"></span>
                                    <br>
                </div>
            </div>
        </a>
         <ul role="menu" class="dropdown-menu prof-dropdown px-2 py-1">
             <li>
                 <a href="{{url_for('main.profile',uname=current_user.username)}}" class="a-profile">
                    <small>
                        View Profile</small>
                    </a>
                </li> 

             <li>
              <a href="{{url_for('auth.logout')}}" class="a-profile">
                <small>
                Sign out
                </small>
              </a>
             </li> 
                </ul>
            </li>
        
        
        
        
        
        <!-- end exported -->
        {% else %}
        <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
        {%endif%}
      </ul>
      
    </div>
  </nav>